body {
    background-color: white;
}

* {
    font-family: "Manrope", sans-serif;
}

.castoro-titling-regular {
    font-family: "Castoro Titling", serif;
    font-weight: 400;
    font-style: normal;
}

.island-col {
    padding: 12px;
}


.new-entry-island {
    background-color: white;
    padding: 45px 40px 45px 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.14);
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.14);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

.trade-data-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    font-weight: 600;
    font-size: 3rem;x;
}

.page-title-explanation {
    font-weight: 400;
    font-size: 1rem;
}

.symbol {
    font-weight: 600;
    font-size: 2rem;
}

.ticket-id {
    font-weight: 600;
    font-size: 3rem;
}

.ticket-text, .ticket-id {
    margin-bottom: 0;
    line-height: 1.2;
}



.upload-button {
    width: 100%;
}

.back-home-button {
    display: flex;
    align-items: center;
}