<div class="container-xxl">
    <header>
        <nav class="navbar navbar-expand-md bg-body">
            <div class="container-fluid">
                <a class="navbar-brand my-brand castoro-titling-regular" href="#">Artur Capital</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link nav-component ms-4" aria-current="page" href="#">More About Me</a>
                        <a class="nav-link nav-component ms-4" href="#">Terms & Services</a>
                        <a class="nav-link nav-component ms-4" href="#">Investor Agreements</a>
                        <a class="nav-link nav-component ms-4" href="#">Contact Me</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>