{% extends "base.html" %}
{% block title %}Terms & Services{% endblock %}
{% block content %}
<div class="container-xxl">
    <h1>Terms & Services</h1>
    <h2>Terms</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur dignissimos exercitationem impedit molestiae natus pariatur porro provident quo recusandae?</p>
    <h2>Services</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cum enim et eum fugit, iusto mollitia nam quae quaerat quisquam.</p>
</div>
{% endblock %}